<%- include('partials/header') %>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <img class="mb-4" src="/images/home.ico" alt="" width="100" height="100" />
    <h1 class="h3 mb-3 fw-normal">New History</h1>
    <form method="POST" action="/users/addhistory/<%= user.id %>">
      <input
        type="text"
        name="gameName"
        class="form-control top"
        placeholder="Game Name"
      />
      <input
        type="text"
        name="result"
        class="form-control bottom"
        placeholder="Result"
      />

      <button class="w-100 btn btn-lg btn-primary" type="submit">Add</button>
    </form>
    <script src="/js/user.js"></script>
    <%- include('partials/footer') %>
  </main>
</body>
