<%- include('partials/header') %>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <img class="mb-4" src="/images/home.ico" alt="" width="100" height="100" />
    <h1 class="h3 mb-3 fw-normal">Create Your Account</h1>
    <form action="/register" method="post">
      <input
        type="text"
        name="nickname"
        class="form-control top"
        placeholder="Nickname"
      />
      <input
        type="email"
        name="email"
        class="form-control middle"
        placeholder="Email"
      />
      <input
        type="password"
        name="password"
        class="form-control middle"
        placeholder="password"
      />
      <input
        type="text"
        name="fullName"
        class="form-control middle"
        placeholder="Full Name"
      />
      <input
        type="text"
        name="location"
        class="form-control middle"
        placeholder="Location"
      />
      <input
        type="text"
        name="phone"
        class="form-control middle"
        placeholder="Phone"
      />
      <input
        type="date"
        name="dateOfBirth"
        class="form-control bottom"
        placeholder="Date of Birth"
      />

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign Me Up
      </button>
    </form>

    <!-- <script src="/js/user.js"></script> -->
    <%- include('partials/footer') %>
  </main>
</body>
